/*
Переменные
***/

:root {
	--width-desktop: 1200px;
	--font: 'Fira Sans Condensed';
}

/*
Сброс станадартных стилей и общие стили
***/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	margin: auto;
	padding: 126px 30px;
	color: #fff;
	font-family: var(--font), sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	inline-size: var(--width-desktop);
	block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

input {
	padding: 0;
}

.button {
	border: 1px solid #fff;
	padding: 0;
	color: #fff;
	font-family: var(--font);
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	background: transparent;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	clip-path: inset(50%);
	white-space: nowrap;
}

/*
Сетки
***/

.content {
	display: grid;
	column-gap: 30px;
	grid-template: [row1-start] 'result content__details' auto [row1-end] / 711px 399px;
}

.result {
	display: grid;
	grid-area: result;
	row-gap: 5px;
	grid-template:
		[row1-start] 'result__video-container' auto [row1-end]
		[row2-start] 'search-form' auto [row2-end]
		/ 711px;
}

.content__details {
	display: grid;
	grid-area: content__details;
	row-gap: 5px;
	grid-template:
		[row1-start] 'title' auto [row1-end]
		[row2-start] 'content__list' auto [row2-end]
		/ 399px;
}

/*
Видео
***/

.result__video-container {
	display: flex;
	align-items: flex-end;
	inline-size: 711px;
	block-size: 438px;
	position: relative;
	grid-area: result__video-container;
}

.result__video {
	inline-size: 100%;
	block-size: 364px;
	object-fit: cover;
	object-position: center;
}

/*
Форма
***/

.search-form {
	display: flex;
	flex-flow: row nowrap;
	grid-area: search-form;
	align-self: flex-end;
	justify-content: space-between;
	align-items: flex-start;
	inline-size: 711px;
	block-size: 54px;
}

.search-form__fieldset {
	border: none;
}

.search-form__fieldset-title {
	padding-block-end: 5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.search-form__label {
	display: flex;
	flex-direction: row;
	inline-size: fit-content;
}

.search-form__label:has(:focus) {
	outline: 0;
}

.search-form__label:has(:focus-visible) {
	outline-offset: 2px;
	outline: 1px solid #fff;
}

/*
Форма, текстовое поле
***/

.search-form__textfield {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	inline-size: 225px;
	border-inline: none;
	border-block: 1px solid #fff;
	color: #fff;
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	background: transparent;
}

.search-form__textfield:active {
	border-inline: 1px solid #fff;
}

.search-form__textfield:hover {
	cursor: url(../img/cursor-text.png), text;
}

.search-form__textfield:focus {
	outline: 0;
}

.search-form__textfield::placeholder {
	opacity: 0.7;
}

/*
Форма, чекбоксы
***/

.search-form__checkbox-list {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.search-form__pseudo-checkbox {
	inline-size: 19px;
	block-size: 19px;
	margin-block-start: 1px;
	margin-inline-end: 5px;
	border: 1px solid #fff;
}

.search-form__label:has(.search-form__checkbox):hover {
	text-decoration: 0.5px underline;
	text-underline-offset: 3px;
	cursor: url(../img/cursor-pointer.png), pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
	padding: 1px;
	background-clip: content-box;
	background-color: #fff;
}

/*
Форма, кнопочка
***/

.search-form__submit-button {
	inline-size: 194px;
	block-size: 34px;
	align-self: flex-end;
}

.search-form__submit-button:active {
	background-color: #545050;
}

.search-form__submit-button:hover {
	text-decoration: 0.5px underline;
	text-underline-offset: 3px;
	cursor: url(../img/cursor-pointer.png), pointer;
}

.search-form__submit-button:focus {
	outline: 0;
}

.search-form__submit-button:focus-visible {
	outline-offset: 2px;
	outline: 1px solid #fff;
}

/*
Контент, титл
***/

.title {
	grid-area: title;
	font-family: Oswald;
	font-weight: 700;
	font-size: 73px;
	line-height: 67.8px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.title > .content__accent {
	color: #545050;
}

/*
Контент, лист, ссылки
***/

.content__list {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	inline-size: 399px;
	block-size: 298px;
	grid-area: content__list;
	row-gap: 22px;
	overflow: hidden auto;
}

.content__card-link {
	display: block;
	margin: 2px;
	color: #fff;
	text-decoration: none;
	cursor: url(../img/cursor-pointer.png), pointer;
}

.content__card-link_current {
	background-color: #545050;
}

.content__card-link:hover {
	text-decoration: 0.5px underline;
	text-underline-offset: 3px;
	cursor: url(../img/cursor-pointer.png), pointer;
}

.content__card-link:focus {
	outline: 0;
}

.content__card-link:focus-visible {
	outline: 1px solid #fff;
}

.content__card-link:visited {
	color: #fff;
	text-decoration: none;
}

/*
Контент, карточка
***/

.content__video-card {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.content__video-card-title {
	margin-block-start: 2px;
	font-family: Oswald;
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	text-transform: uppercase;
}

.content__video-card-description {
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
}

.content__video-card-thumbnail {
	min-block-size: 100px;
	max-block-size: 100px;
	min-inline-size: 194px;
	max-inline-size: 194px;
}

.content__video-card-description-container {
	inline-size: 100%;
}

/*
Контент, кнопка
***/

.more-button {
	inline-size: calc(100% - 3px);
	block-size: 34px;
	margin: 3px 3px 0;
}

.more-button:active {
	background-color: #545050;
}

.more-button:hover {
	text-decoration: 0.5px underline;
	text-underline-offset: 3px;
	cursor: url(../img/cursor-pointer.png), pointer;
}

.more-button:focus {
	outline: 0;
}

.more-button:focus-visible {
	outline-offset: 2px;
	outline: 1px solid #fff;
}
