:root {
	--width-desktop: 1200px;
	--font: 'Fira Sans Condensed';
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	margin: auto;
	padding: 133px 30px;
	color: #fff;
	font-family: var(--font), sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	inline-size: var(--width-desktop);
	block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

input,
button {
	padding: 0;
	cursor: pointer;
}

.content {
	display: grid;
	column-gap: 30px;
	grid-template: [row1-start] 'result content__details' auto [row1-end] / auto auto;
}

.result {
	display: grid;
	grid-area: result;
	row-gap: 14px;
	grid-template:
		[row1-start] 'result__video-container' 431px [row1-end]
		[row2-start] 'search-form' 54px [row2-end]
		/ 711px;
}

.result__video-container {
	position: relative;
	grid-area: result__video-container;
	margin-block-start: 67px;
	inline-size: 711px;
	block-size: 364px;
}

.result__video {
	object-fit: cover;
	object-position: center;
	block-size: 100%;
	inline-size: 100%;
}

.search-form {
	display: flex;
	flex-flow: row nowrap;
	grid-area: search-form;
	justify-content: space-between;
	align-items: flex-start;
	inline-size: 711px;
	block-size: 54px;
}

.search-form__fieldset-title {
	margin-block-end: 5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.search-form__fieldset {
	border: none;
}

.search-form__label {
	display: flex;
	flex-direction: row;
	inline-size: fit-content;
}

.search-form__textfield {
	border-inline: none;
	border-block: 1px solid #fff;
	color: #fff;
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	background: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	inline-size: 225px;
	block-size: 27px;
}

.search-form__textfield::placeholder {
	opacity: 0.7;
	color: #fff;
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.search-form__textfield:has(:focus-visible) {
	outline: 1px solid #fff;
}

.search-form__checkbox-list {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

/* .search-form__label-text:has(:focus-visible) {
	outline: 1px solid #fff;
}

.search-form__checkbox:checked + span::before {
	content: '';
	inline-size: 15px;
	block-size: 15px;
	background-color: #fff;
} */

.search-form__pseudo-checkbox {
	margin-inline-end: 5px;
	border: 1px solid #fff;
	inline-size: 19px;
	block-size: 19px;
}

.button {
	border: 1px solid #fff;
	color: #fff;
	font-family: var(--font);
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	background: transparent;
}

.search-form__submit-button {
	align-self: flex-end;
	inline-size: 194px;
	block-size: 34px;
}

.search-form__submit-button:active {
	background-color: #545050;
}

.more-button {
	inline-size: 399px;
	block-size: 34px;
}

.more-button:active {
	background-color: #545050;
}

.content__details {
	display: grid;
	grid-area: content__details;
	row-gap: 5px;
	grid-template:
		[row1-start] 'title' 210px [row1-end]
		[row2-start] 'content__list' 284px [row2-end]
		/ 399px;
}

.title {
	grid-area: title;
	font-family: Oswald;
	font-weight: 700;
	font-size: 75px;
	line-height: 70px;
	text-transform: uppercase;
	transform: translateY(-10px);
}

.title > .content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	grid-area: content__list;
	row-gap: 30px;
	overflow: hidden auto;
}

.content__card-link {
	color: #fff;
	text-decoration: none;
}

.content__card-link:visited {
	color: #fff;
	text-decoration: none;
}

.content__card-link:has(:focus-visible) {
	outline: 1px solid #fff;
}

.content__video-card {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

/* .content__card-link:active > .content__video-card {
	background: #545050;
} 
какая то хуйня на js
*/

.content__video-card-title {
	margin-block-start: 2px;
	font-family: Oswald;
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	text-transform: uppercase;
}

.content__video-card-description {
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
}

.content__video-card-thumbnail {
	min-block-size: 103px;
	max-block-size: 103px;
	min-inline-size: 194px;
	max-inline-size: 194px;
}

.content__video-card-description-container {
	inline-size: 100%;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	clip-path: inset(50%);
	white-space: nowrap;
}
